* {
    box-sizing: border-box;
}

body {
    font-family: 'AR BONNIE', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    text-transform: uppercase;
    /*background-image: url('../img/wd9.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;*/
}
.main-nav2,
.main-nav { 
text-decoration-style: none;
list-style-type: none;
margin-left: 500px;
font-stretch: extra-expanded;
font-size: 20px;
}

.name,
.main-nav a,
.main-nav a{
    text-decoration: none;
    display: inline;
    float: left;
    margin-right: 25px;
    border-top: solid 1px;
    border-bottom: solid 1px;
}

.main-nav a:hover {
    color:white;
    background-color: coral;
    border-radius: 50%;
    transition: all 500ms;
    font-size-adjust: 20px;
}

.imgg {
 max-width: 300px;
 border-top-width: 5px;
}

.imgg:hover {
 width:50%;
 
}

h1 {
 font-family: 'Microsoft Yi Baiti', sans-serif;

}
.testimony{
    position: absolute;
    right:80px
}

.main-nav2 {
    display: inline;
    text-decoration-style: none;
    position: absolute;
    left: 500px;
    top: 8px;

}

.main-nav2 li{
    display: inline;
    text-decoration-style: none;
    padding: 8px;
}
 li a{
     text-decoration: none;
 }