/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    
}

body {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.6;
    color: #3a3a3a;
    background-image: url('../img/_dsc4424b.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    }

p {
    font-size: 2em;
    margin-bottom: 1.8em;
    position: absolute;
    top: 70%;
    left:5%;
    text-decoration: none;
}

h2,
h3,
a {
    color: #c7dce9;
}

h2,
h3,
h4 {
    margin-top: 0;
}

h4 {
    margin-bottom: .4em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

figure {
    margin: 0;
    line-height: 0;
    position: relative;
}

figcaption {
    font-size: .9em;
    line-height: 1.5;
    color: #fff;
    padding: 1em;
    background: rgba(19, 43, 102, .85);
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* ================================= 
  Base Layout Styles
==================================== */


/* ---- Navigation ---- */

.name {
    font-size: 1.60em;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 10;
    float: right;
}

.main-nav {
    margin-top: 15px;
    background-color: #aaadad;
    opacity: 0.5;*/
    
    width: 19%;
    float: left;
    margin-right: .95em;
  
}

.name a,
.main-nav a {
    display: block;
    text-align: center;
    padding: 10px 15px;
}
.main-nav a{
    padding:0px;
    margin: 0px;
    padding-right:15px;
     
}
.main-nav a {
    font-size: .95em;
    color: #edf5f5;
    text-transform: uppercase;
    border-right: solid 1px;
   
}

.main-nav a:hover {
    color: #bbdff5;
    font-size: 2em;
    transition: all 500ms;
    font-size-adjust: 20px;

}


/* ---- Layout Containers ---- */

.main-header {
    padding-top: .5em;
    padding-bottom: .5em;
}

.banner,
.main-footer {
    text-align: center;
   width: 100%;
}

.banner {
    color: #fff;
    background: #3acec2;
    padding: 3.2em 0;
    margin-bottom: 60px;
}

.col {
    padding-right: 1em;
    padding-left: 1em;
}

.main-footer {
    /*background-color: #d9e4ea;*/
    padding: 2em 0;
    margin-top: 950px;
    bottom: 0px;
   
}
.fb li {
 width: 10px;
 height: 10px;
 list-style-type: none;
 display: inline;
 
}
.fb:hover{
opacity: .80;
}


/* ---- Page Elements ---- */

.logo {
    width: 190px;
}

.headline {
    margin-bottom: 0;
}

.icon-location {
    width: 35px;
    position: absolute;
    top: -15px;
    right: -15px;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 1025px) {
    body {
        padding-top: 68px;
        z-index: 1px;
    }
    .main-header {
        position: fixed;
        /*background: #fff;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .4);*/
        top: 0;
        width:100% 
    }
    .container {
        width: 100%;
        margin: 0 auto;
    }
    .name,
    .col {
        float: left;
    }
    .primary,
    .secondary {
        width: 50%;
    }
    .main-nav {
        float: right;
        position: absolute;
        top: 10px;
        left: 800px;
    
    }
    .main-nav li {
        display: inline-block;
        margin-left: 15px;
    }
    .slogan {
        font-size: 1.4em;
        position: absolute;
        top: 50px;
        right: 35px;
    }
    .pshadow{
        text-shadow: 0px 0px 8px #3f3c3c;
    }
    .my_name{
        font-size:.97em;
        position: absolute; 
        top: 79%;
        left:350px;
    }
    /* ---- Float clearfix ---- */
    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
    }
}


